

        button {background-color:green; } 
        button {color:white; } 
          body {background-color: skyblue;}
             h1{text-align: center;}
        img src{text-align: center;}   
             h2{text-align: center;}   
        button {width: 100%; height: 50px;}
            img{width: 50%;  height: 50%;}

